*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgba(255, 192, 203, 0.589);
     
}
.hh{
    text-align: right;
    position: relative;
    top: 20px;
    right: 55px;
}
pre{
    font-size: 20px;
    position: relative;
    right: 25px;
}
@media screen and (max-width:600px) {
    *{
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
    }
    body{
        background-color: rgba(255, 192, 203, 0.589);
         
    }
    .hh{
        text-align: right;
        position: relative;
        top: 10px;
        right: 25px;
    }
    pre{
        font-size: 10px;
        position: relative;
        right: 17px;
    }

    
}
